{% extends "base.html" %}
{% block body %}
<h1>Product Price</h1>

<form >
      <label for="price_from">Price From</label>
      <input type="text" name="price_from">
      <label for="to">To</label>
      <input type="text" name="to">
      <input type="submit" value="Submit Form">

</form>
<br>
<a href="/getdata"><button>New Search</button></a>
<ol>
      {%for i in data %}
      <li>{{i}}</li>
      {%endfor%}
</ol>
<p>{{error}}</p>

<br>
<a href="/"><button>HomePage</button></a>

{% endblock %}