{% extends "base.html" %}
{% block body %}
<h1>Product Price</h1>

<input
      type="link"
      name="q"
      required  
      minlength="4"
      placeholder="From"
      aria-label="Search through site content" 
      size="50"/>


<P></P>

<input
      type="link"
      name="q"
      required  
      minlength="4"
      placeholder="To"
      aria-label="Search through site content" 
      size="50"/>

<p></p>

<button type="button">Get Products</button>

<br>
<br>
<a href="/"><button>New Data</button></a>
{% endblock %}